<h1>Panel de Monitoreo</h1>
<div class="row">
    
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <!--local Nav -->

    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <ol class="breadcrumb">
            <li> <a href="#">Inicio</a> </li>
            <li class="active">Alertas</li>
        </ol>
        <h2>Alertas del Sistema</h2>

        <!-- CREATE -->
        <form class="form-inline" role="form" ng-submit="add()">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="message" placeholder="Mensaje">
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus-sign"></i>
            </button>
        </form>
        <hr>
        <!-- UPDATE -->
        <form role="form" ng-submit="doUpdate()" ng-show="isEditing">
            <legend>Editando el registro {{current.id}}</legend>

            <div class="form-group">
                <label for="message">Mensaje</label>
                <input type="text" class="form-control" id="message" ng-model="current.message" placeholder="Mensaje">
            </div>
        
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
        <!-- LIST -->
        <table class="table table-hover" ng-hide="isEditing || isWorking">
            <thead>
                <tr>
                    <th>Mensaje</th>
                    <th>Fecha</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in alerts">
                    <td>{{item.message}}</td>
                    <td><a x-click="doToggleTimeDisplay(item)">{{item.date}}</a></td>
                    <td>
                        <!-- UPDATE -->
                        <i ng-click="edit(item)" class="glyphicon glyphicon-edit"></i>
                        <span class="text-muted">&nbsp;|&nbsp;</span>
                        <!-- DELETE -->
                        <i ng-click="remove(item)"class="glyphicon glyphicon-remove"></i>
                    </td>
                </tr>
            </tbody>
        </table>            

        <!-- Loader -->
        <div class="alert alert-info" ng-show="isWorking">
            Espere ...
        </div>
    </div> <!-- /col-6 -->
</div><!-- /row -->

