<h1>Dashboard</h1>
<div class="row">
    
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <!--local Nav -->
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#/home">Resumen</a></li>
            <li><a href="#/alert">Alertas</a></li>
            <li class="active"><a>Energía</a></li>
            <li><a href="#/hotspot">Wifi</a></li>
        </ul>
    </div>

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <ol class="breadcrumb">
            <li> <a href="#">Inicio</a> </li>
            <li><a href="#/energy">Energía</a></li>
            <li ng-show="isEditing" class="active">{{current.id}}</li>
        </ol>
        <h2>Clientes de Energía</h2>

        <!-- CREATE -->
        <form class="form-inline" role="form" ng-submit="add()">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="device" placeholder="Dispositivo">
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus-sign"></i>
            </button>
        </form>
        <hr>

        <!-- UPDATE -->
        <form role="form" ng-submit="doUpdate()" ng-show="isEditing">
            <legend>Editando el registro {{current.id}}</legend>

            <div class="form-group">
                <label for="device">Dispositivo</label>
                <input type="text" class="form-control" id="device" ng-model="current.device" placeholder="Dispositivo">
            </div>

            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>

        <!-- LIST -->
        <table class="table table-hover" ng-hide="isEditing || isWorking">
            <thead>
                <tr>
                    <th>Dispositivo</th>
                    <th>Inicio</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in energys">
                    <td>{{item.device}}</td>
                    <td><span am-time-ago="item.start"></span></td>
                    <td>
                        <!-- UPDATE -->
                        <i ng-click="edit(item)" class="glyphicon glyphicon-edit"></i>
                        <span class="text-muted">&nbsp;|&nbsp;</span>
                        <!-- STOP -->
                        <i ng-click="stop(item)"class="glyphicon glyphicon-stop"></i>
                        <span class="text-muted">&nbsp;|&nbsp;</span>
                        <!-- DELETE -->
                        <i ng-click="remove(item)"class="glyphicon glyphicon-remove"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Loader -->
        <div class="alert alert-info" ng-show="isWorking">
            Espere ...
        </div>
    </div> <!-- /col-8 -->
</div><!-- /row -->
