<h1>Panel de Monitoreo</h1>
<div class="row">
    
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <!--local Nav -->
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a>Resumen</a></li>
            <li><a href="#/alert">Alertas</a></li>
            <li><a href="#/energy">Energía</a></li>
            <li><a href="#/hotspot">Wifi</a></li>
        </ul>
    </div>

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <ol class="breadcrumb">
            <li> <a href="#">Inicio</a> </li>
            <li class="active">Resumen</li>
        </ol>
        <h2>Resumen</h2>

    </div>
        
    <!-- Loader -->
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-show="isWorking">
        <div class="alert alert-info">
            Espere ...
        </div>
    </div>
</div>
