<h1>Panel de Monitoreo</h1>
<div class="row">
    
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <!--local Nav -->
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#/home">Resumen</a></li>
            <li><a href="#/alert">Alertas</a></li>
            <li><a href="#/energy">Energía</a></li>
            <li class="active"><a>Wifi</a></li>
        </ul>
    </div>

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <ol class="breadcrumb">
            <li> <a href="#">Inicio</a> </li>
            <li class="active">Wifi</li>
        </ol>
        <h2>Clientes de Wifi</h2>

        <!-- CREATE -->
        <form class="form-inline" role="form" ng-submit="add()">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="mac" placeholder="MAC">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="user" placeholder="Usuario">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="device" placeholder="Dispositivo">
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus-sign"></i>
            </button>
        </form>
        <hr>
        <!-- UPDATE -->
        <form role="form" ng-submit="doUpdate()" ng-show="isEditing">
            <legend>Editando el registro {{current.id}}</legend>

            <div class="form-group">
                <label for="mac">MAC</label>
                <input type="text" class="form-control" id="mac" ng-model="current.mac" placeholder="MAC">
            </div>

            <div class="form-group">
                <label for="user">Usuario</label>
                <input type="text" class="form-control" id="user" ng-model="current.user" placeholder="Usuario">
            </div>

            <div class="form-group">
                <label for="device">Dispositivo</label>
                <input type="text" class="form-control" id="device" ng-model="current.device" placeholder="Dispositivo">
            </div>
        
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
        <!-- LIST -->
        <div class="pull-right">
            <p>Filtrar</p>
            <div class="btn-group">
                <button type="button" class="btn btn-primary tooltip-enabled" data-toggle="tooltip" title="Todos" ng-click="filter('')">
                    <i class="fa fa-asterisk" ></i>
                </button>
                <button type="button" class="btn btn-default tooltip-enabled" data-toggle="tooltip" title="Computadores"  ng-click="filter('laptop')">
                    <i class="fa fa-laptop" ></i>
                </button>
                <button type="button" class="btn btn-default tooltip-enabled" data-toggle="tooltip" title="Teléfonos"  ng-click="filter('mobile')">
                    <i class="fa fa-mobile" ></i>
                </button>
                <button type="button" class="btn btn-default tooltip-enabled" data-toggle="tooltip" title="Tablets"  ng-click="filter('tablet')">
                    <i class="fa fa-tablet" ></i>
                </button>
                <button type="button" class="btn btn-default tooltip-enabled" data-toggle="tooltip" title="Consolas"   ng-click="filter('gamepad')">
                    <i class="fa fa-gamepad"></i>
                </button>
            </div>
        </div>

        <table class="table table-hover" ng-hide="isEditing || isWorking">
            <thead>
                <tr>
                    <th>MAC</th>
                    <th>Usuario</th>
                    <th>Dispositivo</th>
                    <th>Inicio</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in hotspots">
                    <td>{{item.mac}}</td>
                    <td>{{item.user}}</td>
                    <td>{{item.device}}</td>
                    <td><a x-click="doToggleTimeDisplay(item)">{{item.date}}</a></td>
                    <td>
                        <!-- UPDATE -->
                        <i ng-click="edit(item)" class="glyphicon glyphicon-edit"></i>
                        <span class="text-muted">&nbsp;|&nbsp;</span>
                        <!-- DELETE -->
                        <i ng-click="remove(item)"class="glyphicon glyphicon-remove"></i>
                    </td>
                </tr>
            </tbody>
        </table>            

        <!-- Loader -->
        <div class="alert alert-info" ng-show="isWorking">
            Espere ...
        </div>
    </div> <!-- /col-8 -->
</div><!-- /row -->
<script type="text/javascript">
    $(".tooltip-enabled").tooltip();
</script>