    <div class="row clearfix">
        <div class="col-md-12 column">
            <ol class="breadcrumb">
                <li> <a href="#">Inicio</a> </li>
                <li class="active">Wifi</li>
            </ol>

            <h2>Clientes de Wifi</h2>
        </div>
    </div>

    <div class="row clearfix">
        <!-- FILTER -->
        <div class="btn-group">
            <button type="button" class="btn btn-primary tooltip-enabled" data-toggle="tooltip" title="Última hora"
                    ng-click="filterByPeriod('hour')">Tiempo real</button>
            <button type="button" class="btn btn-default tooltip-enabled" data-toggle="tooltip" title="Hoy"
                    ng-click="filterByPeriod('day')">Hoy</button>
            <button type="button" class="btn btn-default tooltip-enabled" data-toggle="tooltip" title="Semana"
                    ng-click="filterByPeriod('week')">Semana</button>
            <button type="button" class="btn btn-default tooltip-enabled" data-toggle="tooltip" title="Mes"
                    ng-click="filterByPeriod('month')">Mes</button>
            <button type="button" class="btn btn-default tooltip-enabled" data-toggle="tooltip" title="Año"
                    ng-click="filterByPeriod('year')">Este año</button>
            <button type="button" class="btn btn-default tooltip-enabled" data-toggle="tooltip" title="Histórico"
                    ng-click="filterByPeriod('')">Histórico</button>
        </div>

        <div class="col-md-4 column">
            <div width="80%" id="chart-parent">
                <h3>Uso por dispositivo</h3>
                <canvas id="chart" width="300" height="400"></canvas>
                <div id="chart-legend"></div>
            </div>
        </div>
        <div class="col-md-8 column">
            <div width="80%">
                <h3>Uso por tiempo</h3>
                <canvas id="chart-period" width="700" height="400"></canvas>
                <div id="chart-period-legend"></div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <!-- Loader -->
        <div class="alert alert-info" ng-show="isWorking">
            Espere ...
        </div>
        <div class="col-md-12 column">
            <h2>Clientes conectados</h2>

            <!-- CREATE -->
            <form class="form-inline" role="form" ng-submit="add()">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="mac" placeholder="MAC">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="user" placeholder="Usuario">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="device" placeholder="Dispositivo">
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </button>
            </form>
            <hr>
            <!-- UPDATE -->
            <form role="form" ng-submit="doUpdate()" ng-show="isEditing">
                <legend>Editando el registro {{current.id}}</legend>

                <div class="form-group">
                    <label for="mac">MAC</label>
                    <input type="text" class="form-control" id="mac" ng-model="current.mac" placeholder="MAC">
                </div>

                <div class="form-group">
                    <label for="user">Usuario</label>
                    <input type="text" class="form-control" id="user" ng-model="current.user" placeholder="Usuario">
                </div>


                <div class="form-group">
                    <label for="device">Dispositivo</label>
                    <input type="text" class="form-control" id="device" ng-model="current.device" placeholder="Dispositivo">
                </div>

                <div class="form-group">
                    <label for="start">Comienzo</label>
                    <input type="text" class="form-control" id="start" ng-model="current.start" placeholder="Comienzo">
                </div>

                <div class="form-group">
                    <label for="notes">Notas</label>
                    <textarea name="notes" id="notes" cols="30" rows="10" ng-model="current.notes"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Actualizar</button>
            </form>
            <!-- LIST -->
            <div class="pull-right">
                <p>Filtrar</p>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary tooltip-enabled" data-toggle="tooltip" title="Todos"
                            ng-click="filterByDevice('')"><i class="fa fa-asterisk" ></i></button>
                    <button type="button" class="btn btn-default tooltip-enabled" data-toggle="tooltip" title="Computadores"
                            ng-click="filterByDevice('laptop')"><i class="fa fa-laptop" ></i></button>
                    <button type="button" class="btn btn-default tooltip-enabled" data-toggle="tooltip" title="Teléfonos"
                            ng-click="filterByDevice('mobile')"><i class="fa fa-mobile" ></i></button>
                    <button type="button" class="btn btn-default tooltip-enabled" data-toggle="tooltip" title="Tablets"
                            ng-click="filterByDevice('tablet')"><i class="fa fa-tablet" ></i></button>
                    <button type="button" class="btn btn-default tooltip-enabled" data-toggle="tooltip" title="Consolas"
                            ng-click="filterByDevice('console')"><i class="fa fa-gamepad"></i></button>
                </div>
            </div>

            <table class="table table-hover" ng-hide="isEditing || isWorking">
                <thead>
                <tr>
                    <th>MAC</th>
                    <th>Usuario</th>
                    <th>Dispositivo</th>
                    <th>Inicio</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in hotspots">
                    <td>{{item.mac}}</td>
                    <td>{{item.user}}</td>
                    <td>{{item.device}}</td>
                    <td><span am-time-ago="item.start">{{item.start}}</span></td>
                    <td>
                        <!-- UPDATE -->
                        <i ng-click="edit(item)" class="glyphicon glyphicon-edit"></i>
                        <span class="text-muted">&nbsp;|&nbsp;</span>
                        <!-- DELETE -->
                        <i ng-click="remove(item)"class="glyphicon glyphicon-remove"></i>
                    </td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>




<script type="text/javascript">
    $(".tooltip-enabled").tooltip();
</script>

<style rel="stylesheet">
    .legend {
    width: 10em;
    border: 1px solid black;
    }

    .legend .title {
    display: block;
    margin: 0.5em;
    border-style: solid;
    border-width: 0 0 0 1em;
    padding: 0 0.3em;
    }
</style>