<form role="form" ng-submit="doAuth()">
    <legend>Iniciar sesión</legend>

    <div class="form-group">
      <label for="username">Usuario</label>
      <input type="text" class="form-control" ng-model="username" placeholder="Usuario" required="required">
    </div>

    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" class="form-control" ng-model="password" placeholder="Contraseña" required="required">
    </div>

    <div class="well well-sm" ng-hide="isSending || isReady">
      <span class="pull-right">
        <button type="button" class="tootltip-enabled btn btn-default btn-sm" title="Usar otro texto aleatorio." ng-click="doRenew()">
          <i class="glyphicon glyphicon-refresh"></i>
        </button>
        <span class="text-muted">&nbsp;|&nbsp;</span>
        <i data-toggle="popover"
          id="pop-saltedPass" class="glyphicon glyphicon-question-sign"
          data-title="Contraseña segura"
          data-content="Su contraseña será mezclada con este texto aleatorio antes de ser enviada."
          data-container="body"
          data-placement="auto left"
          data-trigger="hover">
        </i>
      </span>
      <p><small>
        <strong>Token:</strong>&nbsp;<span ng-model="sToken">{{sToken}}</span>
      </small></p>
    </div>

    <div class="alert alert-info" ng-show="isSending">
      <p>Enviando...</p>
    </div>

    <div class="alert alert-success" ng-show="isReady">
      <p>Identificado correctamente.</p>
    </div>

    <div class="alert alert-danger" ng-show="wasRejected">
      <p>Credenciales erróneas.</p>
    </div>

    <button type="submit" class="btn btn-primary" ng-disable="isWorking">Iniciar</button>
</form>
<script type="text/javascript">
  // XXX: Pasar a data-api
  $('#pop-saltedPass').popover();
  $('.tootltip-enabled').tooltip();
</script>
