<div class="jumbotron">
    
    <!-- Not logged -->
    <div class="container" ng-hide="isAuth">
      <h1>Autorizar</h1>
      <p class="lead">Antes de comenzar, es necesario que se identifique.</p>
      <a class="btn btn-large btn-success" href="#/login">Identificarse</a>
    </div>

    <!-- Logged -->
    <div class="container" ng-show="isAuth">
      <h1>Comenzar</h1>
      <p class="lead">Ir al panel</p>
      <ul class="nav navbar-nav">
          <li> <a href="#/energy">Energía</a> </li>
          <li> <a href="#/hotspot">Wifi</a> </li>
          <li> <a href="#/alerts">Alertas</a> </li>
      </ul>
    </div>
</div>